.browserAndOsPV-radio {
  margin-bottom: 12px;
}

.browserAndOsPV-card-wrapper {
  display: flex;
}

.browserAndOsPV-card {
  margin-right: 6px;
  margin-bottom: 12px;
  width: 50%;

  .browserAndOsPV-echarts-table {
    display: flex;

    .browserAndOsPV-echarts {
      width: 60%;
    }

    .browserAndOsPV-table {
      width: 40%;
    }
  }

}

